<p>将这个按钮添加到工具栏后，您便可使用该按钮在I Feel Fine上分享网页。您甚至可以附加上您分享的网页上图像的缩略图！</p>

<div id="link">点击并将<a onclick="return clicked(event)" href="javascript:void((function(){var%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('src','http://localhost:3000/javascripts/bookmarklet.js');document.body.appendChild(e)})())"><img alt="在ifeelfine上分享" src="/static/images/firefox-button.png?v=2ef6a351d105409188c9d8dc35546007" style="margin-bottom: -6px;"/></a>拖到工具栏。<br/><br/>
<img alt="在ifeelfine上分享" src="http://friendfeed.com/static/images/firefox.png?v=6c130cd35b485f2cf0acac22726033a9" style=""/>
</div>
