<div class="fdiv"><span class="fspl">© 2005－2007 ifeelfine.com, all rights reserved </span><span class="fspr"><a rel="nofollow" href="/about">关于IFF</a> · <a rel="nofollow" href="/about?policy=privacy">隐私原则</a></span></div>