<% @title="欢迎来到I feel fine!"%>
<% @title2="玩转ifeelfine，从你最喜欢的音乐开始吧！" %>
<div id="start">
	<form method="get" action="/music/search">
    <input type="text" name="q" id="q" style="width:150px;"/>
    <input type="submit" value="搜索" class="butt"/>       
  </form>
</div>