<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			<%=@title||"I Feel Fine!"%>
		</title>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
		<%= stylesheet_link_tag "main" %>
		<%= javascript_include_tag "jquery","main","swfobject","artist" %>
	</head>
	<body>        
			<div id="main">
				<%= yield%>
			</div>			                   
	</body>
</html>